
head
{
line-height: 1;


}

body
{
margin: 40px auto;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;

color: #444;




line-height: 1.4;
background: #EEEEEE
font-size: 20px;
max-width: 650px;

padding: 0 10px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;

}